html,
body {
    height: 100%;
    font-size: 14px;
}

body {
    background-color: #000000;
    margin: 0;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
}

div {
    color: #ffffff;
}

a {
    color: #ffffff;
}

div.content {
    position: absolute;
    z-index: 1;
}

div.centered {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

div.panel {
    background-color: rgba(0, 127, 127, 0.533);
    border: 1px solid white;
}

span#ready_timer {
    color: rgba(127, 255, 255, 0.75);
}

.hidden {
    display: none;
}

.blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.top-left.content.panel {
    position: absolute;
    min-width: 350px;
    max-width: 40%;
}

#game_setup .content.panel {
    margin: 1.5em;
    padding: 1.5em;
    font-family: Monospace;
    font-weight: bold;
    text-align: center;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.5);
    text-align: left;
}

.topbar {
    display: inline-flex;
    align-items: center;
}

#post_game_menu {
    color: rgba(127, 255, 255, 0.75);
    position: absolute;
    max-width: 40%;
    width: fit-content;
    color: #ffffff;
    margin: 1.5em;
    padding: 1.5em;
    font-family: Monospace;
    font-weight: bold;
    text-align: center;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.5);
    text-align: left;
}

#game_setup div.header:first-child {
    padding-top: 0px;
}

#game_setup div.header {
    font-size: 1.5em;
    text-align: left;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

#game_setup .menu-content .header {
    font-size: 1em;
}

#game_setup>div {
    margin: auto;
}

button.button {
    padding: 0.5em 1.5em;
    font-size: 1.2em;
}

button#begin {
    font-size: 1.5em;
}

button#quit {
    position: absolute;
    z-index: 1;
    left: 15px;
}

button#ready {
    position: absolute;
    z-index: 1;
    right: 15px;
}

div.topbar {
    position: absolute;
    z-index: 1;
    top: 0px;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, .5);
    border-bottom: 1px solid white;
}

div.bottombar {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, .5);
    border-top: 1px solid white;
}

.element {
    width: 120px;
    height: 160px;
    box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
    border: 1px solid rgba(127, 255, 255, 0.25);
    text-align: center;
    cursor: default;
}

.element:hover {
    box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.75);
    border: 1px solid rgba(127, 255, 255, 0.75);
}

.element .symbol {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    font-size: 60px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}

.element>input.symbol {
    top: 0px;
    width: 100%;
    height: 100%;
}

.menu-content>* {
    display: inline-block;
    vertical-align: top;
}

.setup-options>* {
    margin-bottom: 0.5em;
}

.setup-options select {
    min-width: 130px;
    font-size: 1.2em;
}

button {
    color: rgba(127, 255, 255, 0.75);
    background: transparent;
    outline: 1px solid rgba(127, 255, 255, 0.75);
    border: 0px;
    cursor: pointer;
    margin: 0.3em;
}

button:hover {
    background-color: rgba(0, 255, 255, 0.5);
}

button:active {
    color: #000000;
    background-color: rgba(0, 255, 255, 0.75);
}

select {
    color: rgba(127, 255, 255, 0.75);
    background: black;
    outline: 1px solid rgba(127, 255, 255, 0.75);
    border: 2px;
    cursor: pointer;
}

.green-border {
    border: 2px solid #9f3 !important;
    background-color: rgba(180, 90, 30, 0.5);
}

.orange-border {
    border: 2px solid #f93 !important;
    background-color: rgba(180, 90, 30, 0.5);
}

.topbar .description {
    line-height: 1.5em;
}

.topbar {
    font-size: 1.1em;
}

#difficulty_description {
    color: white;
    background: transparent;
    margin-left: 0.75em;
    border: 1px solid white;
    padding: 0.5em;
    text-align: left;
}

#difficulty_description>.header {
    font-size: 1.1em;
    margin-bottom: 0.1em;
    text-decoration: underline;
}

.background {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(textures/bg.jpg);
    background-size: 500px 500px;
    opacity: .4;
}

.fa-0:before {
    content: "0";
}

.fa-1:before {
    content: "1";
}

.fa-2:before {
    content: "2";
}

.fa-3:before {
    content: "3";
}

.fa-4:before {
    content: "4";
}

.fa-5:before {
    content: "5";
}

.fa-6:before {
    content: "6";
}

.fa-7:before {
    content: "7";
}

.fa-8:before {
    content: "8";
}

.fa-9:before {
    content: "9";
}

.fa-cloud:before {
    content: "\2601";
}

.icon-square:before {
    content: "\2610";
}


.fa-hearts:before {
    content: "\2661";
}

.fa-diams:before {
    content: "\2662";
}

.fa-spades:before {
    content: "\2660";
}

.fa-clubs:before {
    content: "\2663";
}

/* emoji_face_icons */
.em {
    width: auto;
    top: 25px !important;
}

.element.smaller_card {
    width: 90px;
    height: 120px;
}

.element.smaller_card .symbol {
    top: 30px;
}

.element.smaller_card .em {
    height: 1em;
}


/* xl */
@media (max-width: 1536px) {
    body {
        font-size: 14px;
    }
}

/* lg */
@media (max-width: 1024px) {
    body {
        font-size: 12px;
    }
}

/* sm */
@media (max-width: 640px) {
    body {
        font-size: 10px;
    }

    .top-left.content.panel {
        min-width: unset;
        max-width: unset;
    }

    .setup-options select {
        min-width: 80px;
        font-size: 1.2em;
    }

    div.topbar {
        height: 40px;
    }

    div.bottombar {
        height: 40px;
    }
}

/* sm (height) */
@media (max-height: 640px) {

    div.topbar {
        height: 60px;
    }

    div.bottombar {
        height: 60px;
    }
}

/* xs */
@media (max-width: 475px) {
    body {
        font-size: 8px;
    }
}